$color-navbar: rgba(143, 147, 162, 0.6);

.navbar {
  background-color: $color-navbar;

  .navbar-brand {
    color: white;
    margin-top: 5px;
  }
}

.carousel-item {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}


@media screen and (min-width: 768px) {
  .carousel-item {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
